* {
  background-color: azure;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0% 2% 0 2%;
  border-bottom: 1px solid black;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
h3 {
  margin-bottom: 3%;
}
li {
  margin-left: -2%;
}
#quiz-question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#quiz-question {
  margin-bottom: 2%;
}
#answer-result {
  margin-top: 4%;
  border-top: 1px solid grey;
  color: grey;
}
#save-score-container {
  display: none;
  margin-top: 2%;
  width: 30%;
}
/* 
BLOCKS FOR ISOLATING STATES
-Remove the comments from this section and modify the values for display.
-If you want to view the quiz questions, simply comment the startTimer() invocation in handleStartQuiz and display the welcome-container.

#welcome-container {
  display: block;
}

#save-score-container {
  display: none;
}
*/

/* No media queries have been added because the quiz looks no worse on mobile. */
