* {
  background-color: azure;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0% 2% 0 2%;
  border-bottom: 1px solid black;
}
main {
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* #quiz-question-container {
  display: none;
}*/
answer-result {
  display: none;
  border-top: 1px solid grey;
  color: grey;
}
/* BLOCKS FOR TESTING STATES */
#welcome-container {
  display: none;
}
#save-score {
  display: inline;
}
/* #show-scores{
  display:none;
 } */
